<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SisVendas.DAL.Properties.Settings.db_sistemaConnectionString"
            connectionString="Data Source=DESKTOP-O0GF31P\SQLEXPRESS14;Initial Catalog=db_sistema;Persist Security Info=True;User ID=sa;Password=Cl3n!ld0"
            providerName="System.Data.SqlClient" />
        <add name="SisVendas.DAL.Properties.Settings.db_sistemaConnectionString1"
            connectionString="Data Source=DESKTOP-O0GF31P\SQLEXPRESS14;Initial Catalog=db_sistema;Persist Security Info=True;User ID=sa;Password=Cl3n!ld0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>